div h1 {
    margin: 10px auto;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

div input[type=search] {
    width: 60%;
    height: 40px;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
}

ul {
    margin: 5px auto;
}

ul li {
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
